<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>442531707229-m4i2pqs256ukaq2u1rm18ce8fblb139v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.442531707229-m4i2pqs256ukaq2u1rm18ce8fblb139v</string>
	<key>API_KEY</key>
	<string>AIzaSyA-JeHOUNINmu6vfVqydstBaTuGKPg54n0</string>
	<key>GCM_SENDER_ID</key>
	<string>442531707229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vh.EasyGallery</string>
	<key>PROJECT_ID</key>
	<string>easygallery-6f01e</string>
	<key>STORAGE_BUCKET</key>
	<string>easygallery-6f01e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:442531707229:ios:4e9cbf359eb88555</string>
	<key>DATABASE_URL</key>
	<string>https://easygallery-6f01e.firebaseio.com</string>
</dict>
</plist>